{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/pages.css' %}" />
    <title>{% block title %}GSHIT Web Design{% endblock %}</title>
  </head>
  <body>
    <nav class="nav">
      <ul class="nav_list">
        <li class="navLink"><a href="{% url 'home' %}" class="navLinkItem">Home</a></li>
        <li class="navLink"><a href="{% url 'contact' %}" class="navLinkItem">Contact Us</a></li>
        <li class="navLink"><a href="{% url 'explore' %}" class="navLinkItem">Explore</a></li>
        <li class="navLink"><a href="{% url 'about' %}" class="navLinkItem">About Us</a></li>
      </ul>
      {% if user.is_authenticated %}
      <p class="greeting">
        Welcome, {{ user.username }} |
        <a href="{% url 'logout' %}">Logout</a>
      </p>
      {% else %}
      <a href="{% url 'login' %}">Login</a>
      {% endif %}
    </nav>

    <main>{% block content %}{% endblock %}</main>

    <footer>
      <p>&copy; 2020 GSHIT Web Design</p>
    </footer>
  </body>
</html>
