<!DOCTYPE html>
{%load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>{% block title %}GSHIT Web Design{% endblock title %}</title>
  </head>
  <body>
    <header>
      <h1>{% block heading %}GSHIT Web Design{% endblock heading %}</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </nav>
    <main>{% block content %} {% endblock content %}</main>
    <footer>
      <p>&copy; 2020 GSHIT Web Design</p>
    </footer>
  </body>
</html>
